@model AddItemViewModel
@{
    ViewData["Title"] = "New Item";
}

<h1>Add Item</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="Index">
    <div class="form-group row">
        <div class="col-sm-2"><label>Item Name:</label></div>
        <div class="col-sm-4">
            <input asp-for="@Model.NewItemViewModel.Name" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.NewItemViewModel.Name"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Description:</label></div>
        <div class="col-sm-4">
            <input asp-for="@Model.NewItemViewModel.Description" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.NewItemViewModel.Description"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Date Acquired:</label></div>
        <div class="col-sm-4">
            <input asp-for="@Model.NewItemViewModel.DateAcquired" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.NewItemViewModel.DateAcquired"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Add To List</button>
        </div>
    </div>

    @for (int i = 0; i < Model.ItemsToSave.Count; ++i) //bind the list
    {
        @Html.HiddenFor(m=>m.ItemsToSave[i].Name)
        @Html.HiddenFor(m=>m.ItemsToSave[i].Description)
        @Html.HiddenFor(m=>m.ItemsToSave[i].DateAcquired)
    }
</form>

<form method="post" asp-action="AddInventory">
    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Add To Inventory</button>
        </div>
    </div>

    @for (int i = 0; i < Model.ItemsToSave.Count; ++i) //bind the list
    {
        @Html.HiddenFor(m=>m.ItemsToSave[i].Name)
        @Html.HiddenFor(m=>m.ItemsToSave[i].Description)
        @Html.HiddenFor(m=>m.ItemsToSave[i].DateAcquired)
    }
</form>

<div>
    <table style="width:100%">

        <tr>
            <th style="width:33%">ItemName</th>
            <th style="width:33%">Description</th>
            <th style="width:33%">Acquired</th>
            <th style="width:33%">Count</th>
        </tr>

        @for (int index = 0; index < Model.ItemsToSave.Count(); ++index)
        {
            <form method="post" asp-action="RemoveFromPending">
                <tr>
                    <td>
                        <label>
                            @Model.ItemsToSave[index].Name
                        </label>
                    </td>
                    <td>
                        <label>
                            @Model.ItemsToSave[index].Description
                        </label>
                    </td>
                    <td>
                        <label>
                            @Model.ItemsToSave[index].DateAcquired.ToString("MM/dd/yyyy")
                        </label>
                    </td>
                    <td class="row">
                        <div class="offset-2 col-sm-4">
                            <button type="submit" name="IndexToRemove" value=@index class="btn btn-primary">
                                Remove
                            </button>
                        </div>
                    </td>
                </tr>
                @for (int i = 0; i < Model.ItemsToSave.Count; ++i) //bind the list
                {
                    @Html.HiddenFor(m=>m.ItemsToSave[i].Name)
                    @Html.HiddenFor(m=>m.ItemsToSave[i].Description)
                    @Html.HiddenFor(m=>m.ItemsToSave[i].DateAcquired)
                }
            </form>
        }
    </table>
</div>

