@model Borrow.Models.Views.AddItem.AddItemViewModel
@{
    ViewBag.Title = "New Item";
}

<h1>Add Item</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="Index">
    <div class="form-group row">
        <div class="col-sm-2"><label>Item Name:</label></div>
        <div class="col-sm-4">
            <input asp-for="@Model.NewItemViewModel.Name" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.NewItemViewModel.Name"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Description:</label></div>
        <div class="col-sm-4">
            <input asp-for="@Model.NewItemViewModel.Description" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.NewItemViewModel.Description"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Date Acquired:</label></div>
        <div class="col-sm-4">
            <input asp-for="@Model.NewItemViewModel.DateAcquired" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.NewItemViewModel.DateAcquired"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Add To List</button>
        </div>
    </div>
    @for (int i = 0; i < Model.ItemsToSave.Count; ++i) //bind the list
    {
        @Html.HiddenFor(m=>m.ItemsToSave[i].Name)
        @Html.HiddenFor(m=>m.ItemsToSave[i].Description)
        @Html.HiddenFor(m=>m.ItemsToSave[i].DateAcquired)
    }
</form>

<form method="post" asp-action="AddInventory">
    <div>
        <table style="width:100%">

            <tr>
                <th style="width:33%">ItemName</th>
                <th style="width:33%">Description</th>
                <th style="width:33%">Acquired</th>
                <th style="width:33%">Count</th>
            </tr>

            @for (int index = 0; index < Model.ItemsToSave.Count(); ++index)
            {
                <tr>
                    <td>@Model.ItemsToSave[index].Name</td>
                    <td>@Model.ItemsToSave[index].Description</td>
                    <td>@Model.ItemsToSave[index].DateAcquired.ToString("MM/dd/yyyy")</td>
                </tr>
            }
            @for (int i = 0; i < Model.ItemsToSave.Count; ++i) //bind the list
            {
                @Html.HiddenFor(m=>m.ItemsToSave[i].Name)
                @Html.HiddenFor(m=>m.ItemsToSave[i].Description)
                @Html.HiddenFor(m=>m.ItemsToSave[i].DateAcquired)
            }
        </table>
    </div>
    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Add To Inventory</button>
        </div>
    </div>
</form>

