@model Borrow.Models.Views.Profile.EditItemViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="EditItem" method="post">

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NewName)
                </dt>
                <dd class="col-sm-10">
                    <input asp-for="NewName" class="form-control" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NewDescription)
                </dt>
                <dd class="col-sm-10">
                    <input asp-for="NewDescription" class="form-control" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NewDailyRate)
                </dt>
                <dd class="col-sm-10">
                    <input asp-for="NewDailyRate" class="form-control" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NewWeeklyRate)
                </dt>
                <dd class="col-sm-10">
                    <input asp-for="NewWeeklyRate" class="form-control" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OwnedSince)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OwnedSince)
                </dd>
            </dl>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            @Html.HiddenFor(m=>m.ItemId);
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

