@model Borrow.Models.Views.ProfileViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h1> Hello, @Model.FirstName @Model.LastName</h1>
    <h4>ProfileViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exchanges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exchanges)
        </dd>
    </dl>
</div>
