@model Borrow.Models.Views.ProfileViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Profile</h1>
<div>
    <h4>Hello, @Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exchanges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exchanges)
        </dd>
    </dl>
</div>
<hr />

<div>
    <div>
        <h1>Your Items</h1>
        <a asp-action ="AddItem" asp-controller="Profile">
            <button class="btn btn-primary">Add Items</button>
        </a>
        <a asp-action="DeleteItems" asp-controller="Profile">
            <button class="btn btn-primary">Delete Items</button>
        </a>
        <a asp-action="CreateListing" asp-controller="Listings">
            <button class="btn btn-primary">Create a Listings</button>
        </a>
        <a asp-action="RemoveListings" asp-controller="Listings">
            <button class="btn btn-primary">Remove Listings</button>
        </a>
    </div>
    <form asp-action="EditItem" method="Get">
        <div>
            <table style="width:100%">
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Owned Since</th>
                    <th>Available</th>
                    <th>Listed?</th>
                    <th></th>
                </tr>
                @for (int i = 0; i < Model.OwnerItems.Count(); ++i)
                {
                    var item = Model.OwnerItems[i];
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.OwnedSince
                        </td>
                        <td>
                            @item.Available
                        </td>
                        <td>
                            @item.IsListed
                        </td>
                        <td>
                            <button type="submit" name="ItemId" value=@item.ItemId class="btn btn-primary" disabled ="@(item.IsListed)">
                                Edit
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </form>
</div>

