@model EditListingsViewModel

<h1>Create or Delete a Listing</h1>
<div>
    <div>
        <table style="width:100%">
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Owned Since</th>
                <th>Available</th>
                <th>Daily Rate</th>
                <th>Weekly Rate</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.Items.Count(); ++i)
            {
                var item = Model.Items[i];
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.OwnedSince
                    </td>
                    <td>
                        @item.Available
                    </td>
                    <td>
                        @item.DailyRate
                    </td>
                    <td>
                        @item.WeeklyRate
                    </td>
                    @if (item.IsListed)
                    {
                        <td>
                            @using (Html.BeginForm("Unlist", "Profile", FormMethod.Post))
                            {
                                <button class="btn btn-primary" type="submit" name="ItemId" value=@item.ItemId>Unlist</button>
                            }
                        </td>
                    }
                    else
                    {
                        <td>
                            @using (Html.BeginForm("List", "Profile", FormMethod.Post))
                            {
                                <button class="btn btn-primary" type="submit" name="ItemId" value=@item.ItemId>List</button>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>