@model EditListingsViewModel

<div>
    <form>
        <div>
            <table style="width:100%">
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Owned Since</th>
                    <th>Available</th>
                    <th>Daily Rate</th>
                    <th>Weekly Rate</th>
                    <th></th>
                </tr>
                @for (int i = 0; i < Model.Items.Count(); ++i)
                {
                    var item = Model.Items[i];
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.OwnedSince
                        </td>
                        <td>
                            @item.Available
                        </td>
                        <td>
                            @item.DailyRate
                        </td>
                        <td>
                            @item.WeeklyRate
                        </td>
                        @if (item.IsSelected)
                        {
                            <td>
                                <button type="submit" name="EditItem" value=@item.Identifier class="btn btn-primary">
                                    Unlist
                                </button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <button type="submit" name="EditItem" value=@item.Identifier class="btn btn-primary">
                                    List
                                </button>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </form>
</div>