@model NeighborhoodListingsViewModel

<div>
    <h1>Listed items at @Model.Name</h1>
    <div>
        <table style="width:100%">
            <tr>
                <th>Owner</th>
                <th>Item</th>
                <th>Description</th>
                <th>Available</th>
                <th>Daily Rate</th>
                <th>Weekly Rate</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.NeighborhoodListings.Count(); ++i)
            {
                var item = Model.NeighborhoodListings[i];
                <tr>
                    <td>
                        @item.OwnerUserName
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Available
                    </td>
                    <td>
                        @item.DailyRate
                    </td>
                    <td>
                        @item.WeeklyRate
                    </td>
                    <td>
                        @using (Html.BeginForm("ViewListing", "Listings", FormMethod.Post))
                        {
                            <button class="btn btn-primary" type="submit" name="Identifier" value=@item.Identifier>View Info</button>
                        }
                    </td>
                    
                </tr>
            }
        </table>
    </div>
</div>