@model UserListingsViewModel

<div>
    <h1>Listed Items</h1>
    <div>
        <table style="width:100%">
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Daily Rate</th>
                <th>Weekly Rate</th>
                <th>Owner</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.ActiveListings.Count(); ++i)
            {
                var item = Model.ActiveListings[i];
                <tr>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.DailyRate
                    </td>
                    <td>
                        @item.WeeklyRate
                    </td>
                    <td>
                        @item.OwnerUsername
                    </td>
                </tr>
            }
        </table>
    </div>
</div>