@model Borrow.Models.Views.Requests.OutgoingRequestsViewModel

<h1>Here are your outgoing Requests</h1>
<div>
    <div>
        <table style="width:100%">
            <tr>
                <th>Item</th>
                <th>Owner</th>
                <th>Rate</th>
                <th>Periods</th>
                <th>Action</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.RequestViewModels.Count(); ++i)
            {
                var item = Model.RequestViewModels[i];
                <tr>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @item.Lender
                    </td>
                    <td>
                        @item.Rate
                    </td>
                    <td>
                        @($"{item.Periods}  {((RequestEnums.Term)item.Term).ToString()}")
                    </td>
                    <td>
                        <label>@item.GetStatus().Requester</label>
                    </td>
                    <td>
                        @using (Html.BeginForm("ViewOutGoingRequest", "Request", FormMethod.Get))
                        {
                        <button class="btn btn-primary" type="submit" name="requestId" value=@item.RequestId>View!</button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>