@model UserBorrowRequestsViewModel

<h1>Here are your outgoing Requests</h1>
<div>
    <div>
        <table style="width:100%">
            <tr>
                <th>Item</th>
                <th>Requested Rate</th>
                <th>Owner</th>
                <th>Status</th>
                <th>Requested Created</th>
                <th>Action</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.Outgoing.Count(); ++i)
            {
                var item = Model.Outgoing[i];
                <tr>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @item.RateView
                    </td>
                    <td>
                        @item.OwnerUserName
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.CreatedDateUtc
                    </td>
                    
                    <td>
                        @if (item.RequesterNeedsAction())
                        {
                            if (item.Status.Equals(Request.RequestStatus.Accepted))
                            {
                                @using (Html.BeginForm("MeetupSpot", "Request", FormMethod.Get))
                                {
                                    <button class="btn btn-primary" type="submit" name="requestId" value=@item.RequestId>View Meeting Spot</button>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>