@model Borrow.Models.Views.Requests.RequestViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Current Request</h1>
<div>
    <h4>Here is your Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class="col-sm-2">
            Requester:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HowOften)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=>model.HowOften)
        </dd>
        <dt class ="col-sm-2">
            @Html.DisplayNameFor(model => model.Periods)
        </dt>
        <dd class ="col-sm-10">
            @Html.DisplayFor(model=>model.Periods)
        </dd>
        <dt class ="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class ="col-sm-10">
            @Html.DisplayFor(model=>model.Rate)
        </dd>
    </dl>
</div>
<di>
    @if (Model.CurrentStatus.Equals(Request.RequestStatus.Pending) || Model.CurrentStatus.Equals(Request.RequestStatus.Viewed))
    {
        @using (Html.BeginForm("AcceptRequest", "Request", FormMethod.Post))
        {
            <button class="btn btn-primary" type="submit" name="requestId" value=@Model.RequestId>Accept?</button>
        }
    }
    else if (Model.CurrentStatus.Equals(Request.RequestStatus.Accepted))
    {
        <h1>Thanks for Accepting! Now we wait till the meet up time is offered by the requester</h1>
    }
    else if (Model.CurrentStatus.Equals(Request.RequestStatus.PendingMeetUp))
    {
        <h1>Requester has offered to meet at @Model.CurrentMeetUpTime</h1>
        @using (Html.BeginForm("ConfirmMeetupSpot", "Request", FormMethod.Post))
        {
            <button class="btn btn-primary" type="submit" name="requestId" value=@Model.RequestId>Accept?</button>
        }
        @using (Html.BeginForm("DeclineMeetupSpot", "Request", FormMethod.Post))
        {
            <button class="btn btn-primary" type="submit" name="requestId" value=@Model.RequestId>Accept?</button>
        }
    }
    else if (Model.CurrentStatus.Equals(Request.RequestStatus.ConfirmedMeetUp))
    {
        @using (Html.BeginForm("ViewMeetupSpot", "Request", FormMethod.Post))
        {
            <button class="btn btn-primary" type="submit" name="requestId" value=@Model.RequestId>View Meetup Spot</button>
        }
    }
</di v>
<hr />
